.filter-checkbox__wrapper{
    display: flex;
    align-items: center;
    gap: 14px;
}
.filter-checkbox {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    
}

.filter-checkbox__input {
    display: none;
}

.filter-checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.filter-checkbox__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.filter-checkbox__input:checked+.filter-checkbox__slider {
    background-color: #2BE080;
}

.filter-checkbox__input:focus+.filter-checkbox__slider {
    box-shadow: 0 0 1px #2BE080;
}

.filter-checkbox__input:checked+.filter-checkbox__slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.filter-checkbox__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}