.navtab{
    margin: 0;
    min-height: 66px;
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.navtab__list{
    padding: 0;
    display: flex;
    gap: 40px;
}

.navtab__link{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}